# GCP Project ID (used by emulators)
GCP_PROJECT_ID=ssm-local

# Pub/Sub
PUBSUB_EMULATOR_HOST=localhost:8085
PUBSUB_PROJECT_ID=ssm-local

# GCS
STORAGE_EMULATOR_HOST=http://localhost:4443

# BigQuery
BIGQUERY_EMULATOR_HOST=http://localhost:9060

# MongoDB
MONGO_INITDB_DATABASE=casetracker
MONGODB_URI=mongodb://localhost:27017

# Functions Framework
FUNCTION_TARGET=gcfv2storage.StorageEventFunction
